body{
    background-color: rgb(255, 255, 255);
}
.container{
    align-items: center;
    text-align: center;
    
}

#lable1{
    font: optional;
    font-size: 100px;
}

button{
    box-shadow: 10cap;
    /*background-color: transparent;
      */padding: 15px 32px;
  text-align: center;
border-radius: 12px;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
button:hover{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.75),0 17px 50px 0 rgba(0,0,0,0.19);
}